* {
    font-family: Inter;
}
h1, h2, footer {
    text-align: center;
}
.product-featured-grid, .product-regular-grid, .home-section {
    display: grid;
    text-align: center;
    margin: auto;
    max-width: 1200px;
}
.home-section img {
    width: 100%;
}
.product-featured-grid {
    grid-template-columns: auto auto auto;
}
.product-regular-grid {
    grid-template-columns: auto auto auto auto auto;
}
.product-featured-grid > .product-card-large {
    border: 1px solid black;
    margin: 10px;
    max-width: 400px;
}
.product-regular-grid > .product-card-small {
    border: 1px solid black;
    margin: 10px;
    max-width: 240px;
}
.product-featured-grid > .product-card-large img, .product-regular-grid > .product-card-small img {
    margin-top: 15px;
    width: 90%;
}
