* {
    font-family: Inter;
}
body {
    background-color: rgb(253, 251, 238);
}
nav, h1, h2, footer {
    text-align: center;
}
h2, footer {
    background-color: #fff383;
    color: black;
}
h2 {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    margin: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}
/* use max width for better scaling on small windows */
.product-featured-grid, .product-regular-grid, .home-section img, .order-grid {
    display: grid;
    text-align: center;
    margin: auto;
    max-width: 1200px;
}
.product-featured-grid {
    grid-template-columns: auto auto auto;
}
.product-regular-grid {
    grid-template-columns: auto auto auto auto auto;
}
.home-section img {
    margin-bottom: 20px;
    width: 100%;
}
.home-section nav {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff383;
}
.home-section nav a {
    padding-left: 20px;
    color: black;
}
.product-featured-grid > .product-card-large, .product-regular-grid > .product-card-small {
    border: 1px solid black;
    margin: 10px;
}
.product-featured-grid > .product-card-large {
    max-width: 400px;
}
.product-regular-grid > .product-card-small {
    max-width: 240px;
}
.product-card-large img, .product-card-small img {
    margin-top: 15px;
    width: 90%;
}
.product-card-large .product-name, .product-card-large .product-price, .product-card-small .product-name, .product-card-small .product-price {
    color: black;
}
.product-card-large .product-name, .product-card-small .product-name {
    font-weight: 600;
}

input, fieldset {
    margin: 5px;
}
button {
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
