:root {
    font-family: Inter;
    --accent-color: #fff383;
}
body {
    background-color: rgb(253, 251, 238);
    margin: 0px;
    padding: 0px;
}
h1, .logo, h2, h3 {
    text-align: center;
}
.logo h1 {
    margin: 0px;
    color: black
}
.logo {
    flex-grow: 1;
    text-align: left;
    padding-bottom: 0px;
}
.home-section nav {
    padding: 15px;
    background-color: var(--accent-color);
}
.home-section nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links > a {
    padding-left: 20px;
}   
button.hamburger {
    display: none;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: var(--accent-color);
    border: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links {
    justify-self: end;
}
.nav-links > a {
    color: black;
}
h2, footer {
    background-color: var(--accent-color);
    color: black;
}
h2 {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* use max width for better scaling on small windows */
.product-featured-grid, .product-regular-grid {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.product-featured-grid, .product-regular-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.home-section .banner {
    width: 100%;
}
.product-featured-grid > .product-card-large, .product-regular-grid > .product-card-small {
    border: 1px solid black;
    margin: 10px;
}
.product-featured-grid > .product-card-large {
    max-width: 31%;
    flex-basis: 30%;
    flex-grow: 1;
}
.product-regular-grid > .product-card-small {
    max-width: 18%;
    flex-basis: 15%;
    flex-grow: 1;
}
.product-card-large img, .product-card-small img {
    margin-top: 15px;
    width: 90%;
}
.product-card-large p, .product-card-small p {
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: black;
}
.product-card-large .product-author, .product-card-small .product-author {
    color: #4f4f4f;
}
.product-card-large .product-name, .product-card-small .product-name {
    font-weight: 600;
}
.product-card-large:hover, .product-card-small:hover {
    background-color: var(--accent-color);
}
footer {
    /* margin: 4px; */
    padding-top: 4px;
    padding-bottom: 4px;
}
.footer-grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
}
.footer-grid > .contacts {
    margin: 10px;
}
.footer-grid iframe {
    width: 100%;
    height: 100%;
}
.footer-grid h2 {
    text-align: left;
}
.footer-grid li {
    margin-bottom: 10px;
}
.footer-grid p {
    margin-left: 10px;
}
.footer-grid > .copyright {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
/* Media queries */
@media all and (max-width: 740px) {
    /* .home-section nav {
        padding-bottom: 0px;
    } */
    .nav-links {
        display: none;
        margin-top: 15px;
        align-items: flex-start;
        flex-flow: column nowrap;
        flex-basis: 100%;
        gap: 20px;
    }
    .nav-links > a {
        padding-left: 0px;
    }   
    .logo a {
        justify-content: center;
    }
    .logo > img {
        margin: 0px 0px 0px 10px;
    }
    button.hamburger, h1, .logo > img {
        display: block;
        font-size: 1.5em;
    }
    /* button.hamburger:hover ~ .nav-links {
        
        display: flex;
        
    } */
}
@media all and (max-width: 1050px) {
    /* .product-featured-grid > .product-card-large {
        flex-basis: 30%;
    } */
    .product-regular-grid > .product-card-small {
        flex-basis: 22%;
        max-width: 22%;
    }
}
@media all and (max-width: 750px) {
    .product-regular-grid > .product-card-small {
        flex-basis: 25%;
        max-width: 30%;
    }
}
@media all and (max-width: 674px) {
    .product-featured-grid > .product-card-large {
        max-width: 45%;
    }
}
@media all and (max-width: 550px) {
    .product-featured-grid > .product-card-large, .product-regular-grid > .product-card-small {
        flex-basis: 40%;
        max-width: 45%;
}
}